<footer class="footer mt-auto">
	<div class="footer__links">
		<div class="container d-flex flex-lg-row justify-content-between align-items-start ps-5 ps-lg-0">
			<div class="footer__links-item mb-4 mb-lg-0">
				<h5>Social Media</h5>
				<ul>
					<li><a href="https://barsukov-m.github.io/" target="_blank">Portfolio</a></li>
					<li><a href="https://github.com/Barsukov-m" target="_blank">GitHub</a></li>
					<li><a href="https://www.linkedin.com/in/barsukovm/" target="_blank">LinkedIn</a></li>
				</ul>
			</div>

			<div class="footer__links-item mb-4 mb-lg-0">
				<h5>Inspiration</h5>
				<ul>
					<li><a href="https://thedyrt.com" target="_blank">The Dyrt</a></li>
					<li><a href="https://dribbble.com/shots/9983817-Camper-Web-Desgn" target="_blank">Camper Web Design</a></li>
					<li><a href="https://dribbble.com/shots/17051414-Kamperen-Camping-and-Adventure-Tourism" target="_blank">Kamperen Camping and Adventure Tourism</a></li>
				</ul>
			</div>

			<div class="footer__links-item mb-4 mb-lg-0">
				<h5>Links</h5>
				<ul>
					<li><a target="_blank" href="https://icons8.com/icon/SKV7I4GNtu14/campfire" target="_blank">Campfire icon by Icons8</a></li>
					<li><a target="_blank" href="https://icons8.com/icon/0nYcQAprEo15/location" target="_blank">Location icon by Icons8</a></li>
					<li><a target="_blank" href="https://icons8.com/icon/XZSDogGGUpaZ/tourist-backpack" target="_blank">Tourist Backpack icon by Icons8</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container-fluid footer__copy">
		<div class="container d-flex justify-content-between">
			<p>Copyright &copy; 2022 Michael Barsukov</p>
			<p><strong>YelpCamp</strong></p>
		</div>
	</div>
</footer>

<script src="/js/bootstrap.bundle.min.js"></script>
