<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="title" content="YelpCamp | Michael Barsukov">
<meta name="description" content="YelpCamp is the campground database created to connect people around the world.">
<meta name="keywords" content="yelpcamp, camping, campsite, campground, camp, camps, colt, steele, coltsteele, petproject">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="author" content="Mykhailo Barsukov">
<meta name="copyright" content="Mykhailo Barsukov">

<link rel="shortcut icon" href="https://img.icons8.com/external-kosonicon-lineal-color-kosonicon/64/000000/external-camp-hobbies-kosonicon-lineal-color-kosonicon.png" type="image/x-icon">
<title>YelpCamp</title>

<!-- Boostrap 5.2 -->
<link rel="stylesheet" href="/css/bootstrap.min.css">

<!-- Styles -->
<link rel="stylesheet" href="/css/style.css">
